<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../../public/images/uploads/pinterest_19134.ico">
    <title>Pinterest Clone</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link
        href="https://cdn.jsdelivr.net/npm/remixicon@4.1.0/fonts/remixicon.css"
        rel="stylesheet"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.6.7/axios.min.js" integrity="sha512-NQfB/bDaB8kaSXF8E77JjhHG5PM6XVRxvHzkZiwl3ddWCEPBa23T76MuWSwAJdMGJnmQqM0VeY9kFszsrBEFrQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
    </style>
    <link rel="stylesheet" href="/stylesheets/loginstyle.css">
</head>
<style>
    /* Works on Firefox */
    * {
        scrollbar-width: thin;
        scrollbar-color: grey lightgrey;
    }

    /* Works on Chrome, Edge, and Safari */
    *::-webkit-scrollbar {
        width: 12px;
    }

    *::-webkit-scrollbar-track {
        background: lightgrey;
    }

    *::-webkit-scrollbar-thumb {
        background-color: lightgrey;
        border-radius: 25%;
        border: 3px solid grey;
    }
</style>
<body>
    <% if(nav === true){ %>
        <div class="w-full px-10 py-3 flex justify-between bg-zinc-800 text-white">
            <a href="/feed"><h3 class="flex items-center text-xl"><img class="my-1 w-12 h-7 rounded-full" src="https://pngimg.com/uploads/pinterest/pinterest_PNG62.png" alt="">Pinterest</h3></a>
            <div class="flex gap-10 items-center">
                <a href="/search"><i class="fa-solid fa-magnifying-glass mx-1"></i>Search</a>
                <a href="/profile">Profile</a><a href="/feed">Feed</a><a class="px-3 py-2 bg-red-700 text-white rounded-lg" href="/logout">Logout</a>
            </div>
        </div>
    <% } %>