<% include ./partials/header.ejs %>

<form hidden id="fileform" method="post" enctype="multipart/form-data" action="/upload">
  <input id="file" type="file" name="image">
</form>
  
<div class="bg-zinc-800">
  <hr class="opacity-30 w-full mb-1">
  <div class="flex items-center justify-center">
    <div class="w-[45%] min-h-screen bg-zinc-900 text-white py-5 rounded-[30px]">
        <div class="gap-5 px-8 mt-10">
          <h3 class="text-lg leading-none">Edit Account Details</h3>
          <hr class="opacity-30 my-3">
          <form class="w-full" action="/update" method="post">
            <input class="px-3 mt-2 py-2 border-2 border-zinc-800 rounded-md block w-full bg-zinc-900" type="text" placeholder="username" name="username" value="<%= user.username %>">
            <input class="px-3 mt-2 py-2 border-2 border-zinc-800 rounded-md block w-full bg-zinc-900" type="text" placeholder="name" name="name" value="<%= user.name %>">
            <input class="px-3 mt-2 py-2 border-2 border-zinc-800 rounded-md block w-full bg-zinc-900" type="email" placeholder="email" name="email" value="<%= user.email %>">
            <input class="w-full bg-blue-500 px-3 py-3 rounded-md mt-2" type="submit" value="Update Details">
          </form>
        </div>
      </div>
</div>
</div>

  <script>
    document.querySelector("#editbtn").addEventListener("click", function(){
      document.querySelector("#file").click();
    })

    document.querySelector("#file")
    .addEventListener("change", function(){
      document.querySelector("#fileform").submit();
    });
  </script>
<% include ./partials/footer.ejs %>