<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pinterest</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
  <div class="navig">
    <div class="navi">
      <div class="leftnavi" style="display: flex;">
        <div class="logo">
          <img src="https://pngimg.com/uploads/pinterest/pinterest_PNG62.png" alt="">
          <h1>Pinterest</h1>
        </div>
        <div class="content">
          <h1>Today</h1>
          <h1>Watch</h1>
          <h1>Explore</h1>
        </div>
      </div>
      <div class="rightnavi" style="display: flex;">
        <div class="content" style="margin-left: auto;">
          <h1>About</h1>
          <h1>Business</h1>
          <h1>Press</h1>
          <div class="login">
            <a style="text-decoration: none;" href="/login"><h1>Login</h1></a>
          </div>
          <div class="signup">
            <a style="text-decoration: none;" href="/register"><h1>Sign Up</h1></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="front" id="top">
    <div class="text1">
      <div class="text">
        <h1>Get your next</h1>
        <span></span>
      </div>
    </div>
    <div class="pics">
      <div class="container1">
        <div class="img1 set">
          <img class="fix im1" src="https://i.pinimg.com/550x/0c/18/3d/0c183dafd58d1ebdbe3cb6865e56d516.jpg" alt="">
          <img class="fix im2" src="https://i.pinimg.com/550x/be/d2/ae/bed2ae36afe6176318aba416dbcc0174.jpg" alt="">
          <img class="fix im3" src="https://i.pinimg.com/550x/50/2a/47/502a471e34046e9bf8efb7c883807218.jpg" alt="">
          <img class="fix im4" src="https://i.pinimg.com/550x/43/af/6f/43af6f5aa4df62b5bc7748e40f46f4c4.jpg" alt="">
        </div>
      </div>
      <div class="container2">
        <div class="img2 set">
          <img class="fix im1" src="https://i.pinimg.com/550x/ee/c6/34/eec634f370bdfec4bf4bf29d6c2969d2.jpg" alt="">
          <img class="fix im2" src="https://i.pinimg.com/550x/d2/41/fb/d241fb93c42dd7612da313d02940cf16.jpg" alt="">
          <img class="fix im3" src="https://i.pinimg.com/550x/34/87/4c/34874c81ae5f2f382f39a4f63cb13463.jpg" alt="">
          <img class="fix im4" src="https://i.pinimg.com/550x/c2/5e/31/c25e3114ebf041852be0292200727e92.jpg" alt="">
        </div>
      </div>
      <div class="container3">
        <div class="img3 set">
          <img class="fix im1" src="https://i.pinimg.com/550x/1e/48/7b/1e487b8c1d22a689b45e6f495b3b856b.jpg" alt="">
          <img class="fix im2" src="https://i.pinimg.com/550x/1a/a7/98/1aa79895582a230cf8fd5be4b1640cac.jpg" alt="">
          <img class="fix im3" src="https://i.pinimg.com/550x/ea/f3/c6/eaf3c61e1540c930f08c46ec76ca08cf.jpg" alt="">
          <img class="fix im4" src="https://i.pinimg.com/550x/2f/eb/0d/2feb0d13f24b8474915d732b071d0123.jpg" alt="">
        </div>
      </div>
      <div class="container4">
        <div class="img4 set">
          <img class="fix im1" src="https://i.pinimg.com/550x/7e/b3/bd/7eb3bdec5120c9b5bb5ae06e1bf92866.jpg" alt="">
          <img class="fix im2" src="https://i.pinimg.com/550x/c7/16/b9/c716b9fb69673217b1b4359719f8c367.jpg" alt="">
          <img class="fix im3" src="https://i.pinimg.com/550x/8e/b8/87/8eb88746113fd613ae593b09ea6637e0.jpg" alt="">
          <img class="fix im4" src="https://i.pinimg.com/550x/0d/23/fc/0d23fce641c9fc328f5489547dddc59a.jpg" alt="">
        </div>
      </div>
      <div class="container5">
        <div class="img5 set">
          <img class="fix im1" src="https://i.pinimg.com/550x/b4/cb/74/b4cb743c46103d2502b48f05308bfae5.jpg" alt="">
          <img class="fix im2" src="https://i.pinimg.com/550x/9a/fe/63/9afe6352f625af0b15d31fab585eb6cf.jpg" alt="">
          <img class="fix im3" src="https://i.pinimg.com/550x/19/28/6b/19286bbe13d3b16dfdaeaa0603370bd1.jpg" alt="">
          <img class="fix im4" src="https://i.pinimg.com/550x/ef/bb/b0/efbbb046771ba42cf1df5327bfb963ed.jpg" alt="">
        </div>
      </div>
      <div class="container6">
        <div class="img6 set">
          <img class="fix im1" src="https://i.pinimg.com/550x/88/89/77/888977ac13d1227b51ec48f8ebc29b54.jpg" alt="">
          <img class="fix im2" src="https://i.pinimg.com/550x/bc/07/6d/bc076d11e841b467fdf1ca03629da4c9.jpg" alt="">
          <img class="fix im3" src="https://i.pinimg.com/550x/5e/2a/7f/5e2a7fbd30bfd76d2c96d38b2bab04c8.jpg" alt="">
          <img class="fix im4" src="https://i.pinimg.com/550x/9d/dd/50/9ddd50ff3f173ef56a61a7277b50dcbd.jpg" alt="">
        </div>
      </div>
      <div class="container7">
        <div class="img7 set">
          <img class="fix im1" src="https://i.pinimg.com/550x/ab/d5/0b/abd50b8d71a8ac7eada5ae632ebfcf90.jpg" alt="">
          <img class="fix im2" src="https://i.pinimg.com/550x/29/bf/ee/29bfee1bcef092207b4f6c12043eeda4.jpg" alt="">
          <img class="fix im3" src="https://i.pinimg.com/550x/45/bf/b3/45bfb34af9018655b2b4a7b6fc876248.jpg" alt="">
          <img class="fix im4" src="https://i.pinimg.com/550x/46/13/5b/46135bb6dfe9e43adb5302fe85bed6e2.jpg" alt="">
        </div>
      </div>
    </div>
    <div class="pics2">
      <div class="img8 set">
        <img class="fix im1" src="https://i.pinimg.com/550x/0c/18/3d/0c183dafd58d1ebdbe3cb6865e56d516.jpg" alt="">
        <img class="fix im2" src="https://i.pinimg.com/550x/be/d2/ae/bed2ae36afe6176318aba416dbcc0174.jpg" alt="">
        <img class="fix im3" src="https://i.pinimg.com/550x/50/2a/47/502a471e34046e9bf8efb7c883807218.jpg" alt="">
        <img class="fix im4" src="https://i.pinimg.com/550x/43/af/6f/43af6f5aa4df62b5bc7748e40f46f4c4.jpg" alt="">
      </div>
      <div class="img9 set">
        <img class="fix im1" src="https://i.pinimg.com/550x/ab/d5/0b/abd50b8d71a8ac7eada5ae632ebfcf90.jpg" alt="">
        <img class="fix im2" src="https://i.pinimg.com/550x/29/bf/ee/29bfee1bcef092207b4f6c12043eeda4.jpg" alt="">
        <img class="fix im3" src="https://i.pinimg.com/550x/45/bf/b3/45bfb34af9018655b2b4a7b6fc876248.jpg" alt="">
        <img class="fix im4" src="https://i.pinimg.com/550x/46/13/5b/46135bb6dfe9e43adb5302fe85bed6e2.jpg" alt="">
      </div>
    </div>
  </div>
  <div class="mid" id="search">
    <div class="tmid">
      <h4>Here's how it works</h4>
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="arrow bi bi-chevron-down" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708"/>
      </svg>
    </div>
    <div class="searchcontainer flex">
      <div class="leftsearchcontainer">
        <div class="searchimgs flex">
          <div class="search flex">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
              <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
            </svg>
            <h2>easy chicken dinner</h2>
          </div>
          <div class="imgs1 s">
            <img src="https://s.pinimg.com/webapp/left-ccce7532.png" alt="">
          </div>
          <div class="imgs2 s">
            <img src="https://s.pinimg.com/webapp/topRight-6902088a.png" alt="">
          </div>
          <div class="imgs3 s">
            <img src="https://s.pinimg.com/webapp/right-2bd1edfc.png" alt="">
          </div>
          <div class="imgs4 s1">
            <img src="https://s.pinimg.com/webapp/center-2d76a691.png" alt="">
          </div>
        </div>
      </div>
      <div class="rightsearchcontainer">
        <div class="headi">
          <h1>Search for an idea</h1>
          <br>
        </div>
        <div class="para">
          <h2>What do you want to try next? Think of something you’re into – such as 'easy chicken dinner' – and see what you find.</h2>
        </div>
        <div class="explore flex">
          <h3>Explore</h3>
        </div>
      </div>
    </div>
  </div>
  <div class="ideas flex" id="save">
    <div class="leftideas">
      <div class="headin">
        <h1>Save ideas you like</h1>
        <br>
      </div>
      <div class="paras">
        <h2>Collect your favourites so you can get back to them later.</h2>
      </div>
      <div class="explore flex">
        <h3>Explore</h3>
      </div>
    </div>
    <div class="rightideas">
      <div class="ideasimgs flex">
        <div class="imgsi1 i1">
          <img src="https://s.pinimg.com/webapp/future-home-vibes-adb19e98.png" alt="">
          <div class="t1">
            <h1>Fern future home vibes</h1>
          </div>
          <div class="ti1">
            <img src="https://s.pinimg.com/webapp/future-home1-b8bc36e8.png" alt="">
          </div>
          <div class="ti2">
            <img src="https://s.pinimg.com/webapp/future-home2-31c812cc.png" alt="">
          </div>
          <div class="ti3">
            <img src="https://s.pinimg.com/webapp/future-home3-037e8d49.png" alt="">
          </div>
        </div>
        <div class="imgsi2 i2">
          <img src="https://s.pinimg.com/webapp/scandinavian-bedroom-696dfba5.png" alt="">
          <div class="t2">
            <h1><b>My Scandinavian bedroom</b></h1>
          </div>
        </div>
        <div class="imgsi3 i3">
          <img src="https://s.pinimg.com/webapp/deck-of-dreams-205a139e.png" alt="">
          <div class="t3">
            <h1><b>The decking of my dreams</b></h1>
          </div>
        </div>
        <div class="imgsi4 i4">
          <img src="https://s.pinimg.com/webapp/bathroom-upgrade-02599fd4.png" alt="">
          <div class="t4">
            <h1><b>Our bathroom</b></h1>
          </div>
        </div>
        <div class="imgsi5 i5">
          <img src="https://s.pinimg.com/webapp/serve-my-drinks-4de83489.png" alt="">
          <div class="t5">
            <h1><b>Serve my drinks in style</b></h1>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="scout flex" id="shop">
    <div class="leftscout">
      <div class="simg">
        <img src="https://s.pinimg.com/webapp/shop-de8ddf10.png" alt="">
      </div>
      <div class="storyimg">
        <img src="https://s.pinimg.com/webapp/creator-pin-img-3bed5463.png" alt="">
      </div>
      <div class="dp">
        <img src="https://s.pinimg.com/webapp/creator-avatar-262dfeba.png" alt="">
      </div>
      <h4>&nbsp;Scout the City<br>56.7k followers</h4>
    </div>
    <div class="rightscout flex">
      <div class="rightscoutcontainer">
        <div class="sheadi">
          <h1>See it, make it,<br>try it, do it</h1>
          <br>
        </div>
        <div class="spara">
          <h2>The best part of Pinterest is discovering<br>new things and ideas from people<br>around the world.</h2>
        </div>
        <div class="sexplore flex">
          <h3>Explore</h3>
        </div>
      </div>
    </div>
  </div>
</body>
</html>